.u-section-1 .u-sheet-1 {
  min-height: 962px;
}

.u-section-1 .u-icon-1 {
  width: 42px;
  height: 42px;
  margin: 1px auto 0 465px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -40px auto 0 519px;
}

.u-section-1 .u-icon-2 {
  width: 43px;
  height: 43px;
  margin: 35px auto 0 87px;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: -37px 850px 0 131px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: -35px auto 0 290px;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 83px 214px 0 866px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -21px 299px 0 619px;
}

.u-section-1 .u-text-6 {
  margin: -128px auto 0 87px;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: -149px 686px 0 342px;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 19px 721px 0 341px;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  margin: -22px 214px 0 866px;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: 19px auto 0 342px;
}

.u-section-1 .u-text-11 {
  font-size: 1rem;
  margin: -20px 196px 0 866px;
}

.u-section-1 .u-icon-3 {
  width: 60px;
  height: 60px;
  margin: 45px auto 0 87px;
  padding: 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  margin: -53px auto 0 147px;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  margin: -9px 141px 0 auto;
}

.u-section-1 .u-table-1 {
  width: 451px;
  height: 149px;
  margin: 10px 154px 0 auto;
}

.u-block-b61b-61 {
  border-style: double;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  border-style: double;
}

.u-section-1 .u-table-cell-5 {
  border-style: double;
}

.u-section-1 .u-table-cell-6 {
  border-style: double;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: -65px 233px 0 auto;
  padding: 13px 16px 13px 14px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: -52px 170px 0 auto;
  padding: 13px 13px 13px 12px;
}

.u-section-1 .u-icon-4 {
  width: 56px;
  height: 56px;
  margin: 80px auto 0 101px;
  padding: 0;
}

.u-section-1 .u-text-14 {
  font-size: 1.875rem;
  margin: -49px auto 0 157px;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  margin: -3px 158px 0 auto;
}

.u-section-1 .u-table-2 {
  width: 543px;
  height: 146px;
  margin: 14px 75px 0 auto;
}

.u-block-b61b-92 {
  border-style: double;
}

.u-section-1 .u-table-header-2 {
  background-image: none;
}

.u-section-1 .u-table-body-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  border-style: double;
}

.u-section-1 .u-table-cell-11 {
  border-style: double;
}

.u-section-1 .u-table-cell-12 {
  border-style: double;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  margin: -67px 90px 0 auto;
  padding: 13px 16px 13px 14px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  margin: -52px 182px 50px auto;
  padding: 13px 16px 13px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    margin-left: 383px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 428px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 750px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 714px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 510px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 566px;
    margin-left: 282px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 595px;
    margin-left: 281px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 714px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 282px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 714px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 33px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-table-2 {
    height: 149px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-1 {
    margin-left: 293px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 328px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 561px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 222px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 547px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 229px;
    margin-left: 391px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 434px;
    margin-left: 216px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 456px;
    margin-left: 215px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 547px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 216px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 547px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-1 {
    margin-left: 220px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 246px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 381px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 167px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 161px;
    margin-left: 410px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 172px;
    margin-left: 293px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 326px;
    margin-left: 162px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 342px;
    margin-left: 161px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 161px;
    margin-left: 410px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 162px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 147px;
    margin-left: 410px;
  }

  .u-section-1 .u-table-1 {
    margin-right: 89px;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    margin-left: 139px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 155px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 181px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 105px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 101px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 108px;
    margin-left: 184px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 205px;
    margin-left: 102px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 215px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 101px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 102px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 93px;
    margin-left: 258px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 89px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 99px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 99px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 654px;
}

.u-section-2 .u-text-1 {
  margin: 16px 819px 0 148px;
}

.u-section-2 .u-icon-1 {
  width: 49px;
  height: 49px;
  margin: -482px 489px 0 auto;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 45px;
  height: 45px;
  margin: -49px auto 0 89px;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: -34px 316px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  margin: -201px auto 0 361px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: -4px 168px 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  margin: 3px auto 0 361px;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: -7px 171px 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  margin: 0 auto 0 361px;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  margin: 1px 191px 0 auto;
}

.u-section-2 .u-text-9 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 4px auto 0 355px;
}

.u-section-2 .u-text-10 {
  font-size: 1rem;
  margin: -2px 168px 0 auto;
}

.u-section-2 .u-icon-3 {
  width: 44px;
  height: 44px;
  margin: 7px auto 0 90px;
  padding: 0;
}

.u-section-2 .u-table-1 {
  width: 570px;
  margin: -11px 40px 0 auto;
}

.u-block-4c80-10 {
  border-style: double;
}

.u-section-2 .u-table-header-1 {
  background-image: none;
}

.u-section-2 .u-table-body-1 {
  background-image: none;
}

.u-section-2 .u-table-cell-4 {
  border-style: double;
}

.u-section-2 .u-table-cell-5 {
  border-style: double;
}

.u-section-2 .u-table-cell-6 {
  border-style: double;
}

.u-section-2 .u-table-cell-7 {
  border-style: double;
}

.u-section-2 .u-table-cell-8 {
  border-style: double;
}

.u-section-2 .u-table-cell-9 {
  border-style: double;
}

.u-section-2 .u-table-cell-10 {
  border-style: double;
}

.u-section-2 .u-table-cell-11 {
  border-style: double;
}

.u-section-2 .u-table-cell-12 {
  border-style: double;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: -217px 78px 0 auto;
  padding: 13px 40px 13px 39px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: 27px 78px 0 auto;
  padding: 13px 40px 13px 39px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: none;
  margin: 21px 78px 0 auto;
  padding: 13px 40px 13px 39px;
}

.u-section-2 .u-text-11 {
  font-size: 1rem;
  margin: -258px auto 0 355px;
}

.u-section-2 .u-text-12 {
  font-size: 1rem;
  margin: 22px auto 0 355px;
}

.u-section-2 .u-text-13 {
  font-size: 1rem;
  margin: 27px auto 0 355px;
}

.u-section-2 .u-text-14 {
  font-size: 1rem;
  margin: 22px auto 60px 355px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 719px;
    margin-left: 48px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -640px;
    margin-right: 403px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -94px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -277px;
    margin-right: 260px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -103px;
    margin-left: 297px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 408px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -409px;
    margin-left: 297px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 423px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -430px;
    margin-left: 297px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 462px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -571px;
    margin-left: 293px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 577px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -440px;
  }

  .u-section-2 .u-table-1 {
    height: 149px;
    margin-top: 221px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 326px;
    margin-right: 0;
    margin-left: 161px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -442px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: -308px;
    margin-left: 293px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 13px;
    margin-left: 293px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 293px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 293px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 547px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 309px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 199px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 227px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 227px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 227px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 224px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 224px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 224px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 224px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 224px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 367px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 232px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 149px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 170px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 170px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 170px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 583px;
    margin-right: 143px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 168px;
  }

  .u-section-2 .u-table-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 168px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 168px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 168px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 168px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 167px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 146px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 94px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 107px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 106px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 107px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 108px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 107px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 90px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 106px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 106px;
  }

  .u-section-2 .u-table-1 {
    width: 340px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 106px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 106px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 106px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 106px;
  }
}