.u-section-1 .u-sheet-1 {
  min-height: 976px;
}

.u-section-1 .u-image-1 {
  width: 137px;
  height: 137px;
  margin: 19px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 42px;
  height: 42px;
  margin: 33px auto 0 448px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -40px auto 0 502px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 25px;
  margin-bottom: 12px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 710px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  width: 43px;
  height: 43px;
  margin: 0 auto 0 61px;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -37px 271px 0 105px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: -32px auto 0 239px;
}

.u-section-1 .u-text-4 {
  margin: 136px auto 0 48px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: -302px 145px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 19px 180px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 27px 198px 0 auto;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 28px 198px 0 auto;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  margin: 32px 198px 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: 24px 180px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 818px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-icon-3 {
  width: 45px;
  height: 45px;
  margin: 66px auto 0 77px;
  padding: 0;
}

.u-section-1 .u-text-11 {
  margin: -31px 187px 0 150px;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  margin: -642px 118px 0 auto;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  margin: 24px 115px 0 auto;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  margin: 24px 120px 0 auto;
}

.u-section-1 .u-text-15 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 20px 102px 0 auto;
}

.u-section-1 .u-icon-4 {
  width: 44px;
  height: 44px;
  margin: 51px auto 0 77px;
  padding: 0;
}

.u-section-1 .u-text-16 {
  font-size: 1rem;
  margin: -44px 122px 0 auto;
}

.u-section-1 .u-text-17 {
  font-size: 1rem;
  margin: 32px 127px 0 auto;
}

.u-section-1 .u-text-18 {
  font-size: 1rem;
  margin: 34px 127px 0 auto;
}

.u-section-1 .u-text-19 {
  font-size: 1rem;
  margin: 12px 106px 0 auto;
}

.u-section-1 .u-icon-5 {
  width: 49px;
  height: 49px;
  margin: 50px auto 0 77px;
  padding: 0;
}

.u-section-1 .u-text-20 {
  font-size: 1rem;
  margin: -37px 107px 0 auto;
}

.u-section-1 .u-text-21 {
  font-size: 1rem;
  margin: 18px 106px 0 auto;
}

.u-section-1 .u-text-22 {
  font-size: 1rem;
  margin: 30px 127px 0 auto;
}

.u-section-1 .u-text-23 {
  font-size: 1rem;
  margin: 24px 102px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 12px 0 0 auto;
  padding: 13px 44px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1422px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 369px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 414px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 6px;
    margin-left: 21px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 209px;
    margin-left: 67px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -28px;
    margin-right: 112px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 126px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 117px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 145px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 159px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 159px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 159px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 145px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 674px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 638px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -67px;
    margin-right: 132px;
    margin-left: 105px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 287px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 19px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-left: 287px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-left: 287px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 52px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -46px;
    margin-left: 287px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-left: 287px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-left: 287px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-left: 287px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 51px;
    margin-left: 61px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: -55px;
    margin-left: 287px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-left: 287px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-left: 287px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-left: 287px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1279px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 283px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 317px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 154px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 82px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 86px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 106px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 116px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 116px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 116px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 106px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 450px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 99px;
    margin-left: 28px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 86px;
    margin-left: 189px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 84px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 35px;
    margin-right: 88px;
    margin-left: 189px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 75px;
    margin-left: 189px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 60px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 89px;
    margin-left: 189px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 93px;
    margin-left: 189px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 93px;
    margin-left: 189px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 78px;
    margin-left: 189px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 60px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 78px;
    margin-left: 189px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 78px;
    margin-left: 189px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 93px;
    margin-left: 189px;
  }

  .u-section-1 .u-text-23 {
    margin-right: 75px;
    margin-left: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2218px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 212px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 238px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 28px;
    margin-left: 95px;
  }

  .u-section-1 .u-text-11 {
    width: 393px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-12 {
    margin-left: 375px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 375px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 375px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 95px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 375px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 375px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 375px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 375px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 95px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 375px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 375px;
  }

  .u-section-1 .u-text-22 {
    margin-left: 375px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 375px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1696px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 28px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -35px;
    margin-right: 30px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 522px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 3px 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 70px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -38px;
    margin-right: -62px;
    margin-left: 82px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -33px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 103px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -307px;
    margin-right: 76px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 110px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 24px;
    margin-right: 129px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 33px;
    margin-right: 102px;
    margin-left: 202px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 29px;
    margin-right: 129px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 25px;
    margin-right: 110px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 730px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 0;
    margin-left: -48px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -45px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -644px;
    margin-right: 96px;
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: 97px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 30px;
    margin-right: 111px;
    margin-left: auto;
  }

  .u-section-1 .u-text-15 {
    margin-top: 25px;
    margin-right: 85px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 13px;
    margin-left: -44px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -7px;
    margin-right: 106px;
    margin-left: auto;
  }

  .u-section-1 .u-text-17 {
    margin-top: 30px;
    margin-right: 106px;
    margin-left: auto;
  }

  .u-section-1 .u-text-18 {
    margin-top: 35px;
    margin-right: 108px;
    margin-left: auto;
  }

  .u-section-1 .u-text-19 {
    margin-top: 16px;
    margin-right: 85px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 8px;
    margin-left: -48px;
  }

  .u-section-1 .u-text-20 {
    margin-top: -15px;
    margin-right: 88px;
    margin-left: auto;
  }

  .u-section-1 .u-text-21 {
    margin-top: 38px;
    margin-right: 88px;
    margin-left: auto;
  }

  .u-section-1 .u-text-22 {
    margin-top: 26px;
    margin-right: 108px;
    margin-left: auto;
  }

  .u-section-1 .u-text-23 {
    margin-top: 26px;
    margin-right: 85px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 10px;
    margin-right: 10px;
    padding: 9px 41px 11px 39px;
  }
}