.u-section-1 .u-sheet-1 {
    min-height: 400px;
  }
  
  .u-section-1 .u-text-1 {
    margin-bottom: 0;
  }
  
  .u-section-1 .u-form-1 {
    height: 158px;
    margin: 71px 570px 60px 0;
  }
  
  .u-section-1 .u-form-group-1 {
    margin-left: 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    border-style: none;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-form-1 {
      width: 570px;
      margin-right: 370px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-form-1 {
      margin-right: 150px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-form-1 {
      width: 540px;
      margin-right: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-form-1 {
      width: 340px;
    }
  }