.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-icon-1 {
  width: 96px;
  height: 96px;
  margin: 12px auto 0;
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 156px;
  margin: 62px 377px 0 570px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-icon-2 {
  width: 49px;
  height: 49px;
  margin: -139px auto 0 477px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: -49px auto 0 43px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -32px auto 0 181px;
}

.u-section-1 .u-icon-3 {
  width: 39px;
  height: 39px;
  margin: -31px auto 0 0;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 32px;
  height: 32px;
  margin: -32px auto 0 538px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 54px auto 0 1px;
}

.u-section-1 .u-table-1 {
  width: 784px;
  margin: 8px auto 60px 0;
}

.u-block-a9b2-9 {
  border-style: double;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  border-style: solid;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  border-style: double;
}

.u-section-1 .u-table-cell-8 {
  border-style: double;
}

.u-section-1 .u-table-cell-9 {
  border-style: double;
}

.u-section-1 .u-table-cell-10 {
  border-style: double;
}

.u-section-1 .u-table-cell-11 {
  border-style: double;
}

.u-section-1 .u-table-cell-12 {
  border-style: double;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    width: 570px;
    margin-top: 20px;
    margin-right: 277px;
    margin-left: 470px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 393px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -3px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -79px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -55px;
    margin-left: 444px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 51px;
  }

  .u-section-1 .u-table-1 {
    height: 149px;
    margin-top: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    margin-right: 167px;
    margin-left: 360px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 301px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
    margin-top: 46px;
    margin-right: 77px;
    margin-left: 270px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -212px;
    margin-left: 226px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -4px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: 136px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: -107px;
    margin-left: 255px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 125px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 218px;
    margin-top: 104px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -270px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -40px;
    margin-right: 67px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -19px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 161px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 270px;
    margin-left: -4px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-top: 5px;
    margin-left: 4px;
  }
}