.u-section-1 .u-sheet-1 {
  min-height: 1372px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 384px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.25rem;
  font-weight: 700;
  margin: -15px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 7px -11px 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 854px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 250px;
  height: 251px;
  background-image: url("../images/ccae08a787538e1cd44f5b9559a1bd6dcfe53a78d1662ecded350129e0c7042dbdcb28002fca4e93404b8fe0f11ccff0225546da74421a80fc04b6_1280.jpg");
  background-position: 50% 50%;
  margin: -19px auto 0 38px;
}

.u-section-1 .u-image-3 {
  width: 230px;
  height: 230px;
  background-image: url("../images/d68c4640141f03fd3b362a8d15af18b5d6e2521c7759d9f6956297d994be33b88511fc5077641d2a293b902685cb75131ad013838aa7255618bc4c_1280.jpg");
  background-position: 50% 50%;
  margin: -240px 46px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 230px;
  height: 230px;
  background-image: url("../images/58d6244e44862119b2a04cb24c48f362566654b8574dae6dbceb018553770306901de55e4b9b135f54f36ef20b6d3f1099d65a4f3f7513da5aa3ae_1280.jpg");
  background-position: 50% 50%;
  margin: -216px auto 0;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 83px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -29px auto 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -29px 40px 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 48px 105px 0 auto;
  padding: 13px 31px 14px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  background-image: none;
  margin: -63px auto 0 486px;
  padding: 11px 28px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  background-image: none;
  margin: -60px auto 0 101px;
  padding: 11px 28px;
}

.u-section-1 .u-image-5 {
  width: 250px;
  height: 251px;
  background-image: url("../images/98fcc4118ba43fc64b92a2e0b4eb156324d2a06dc5bbde4fa92146ed61e9663ef221bc637e611668a70ff13efa92a59fa5cd8aaf547d15de542d94_1280.png");
  background-position: 50% 50%;
  margin: 28px auto 0 46px;
}

.u-section-1 .u-image-6 {
  width: 230px;
  height: 230px;
  background-image: url("../images/04e29aa4ad72d5f7c8ba3478cd12df88bbd7e216b2156061f29602f95f8c2a00d61d3db8fed27e6459eff24f048272e6de30fae2217147495b47a3_1280.jpg");
  background-position: 50% 50%;
  margin: -235px auto 0;
}

.u-section-1 .u-image-7 {
  width: 230px;
  height: 230px;
  background-image: url("../images/c6dfdde3748258ed722ed63c6949fab872c0f5aeaad077ec9e1050c68b40c908246b76e1a3c327f07b31528caa81f18ab64618b6e57a18e02b1f20_1280.jpg");
  background-position: 50% 50%;
  margin: -230px 54px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 14px auto 0;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: -58px auto 0 63px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: -39px 94px 0 auto;
}

.u-section-1 .u-form-1 {
  height: 126px;
  margin: 9px 36px 0 870px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 1.5rem;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  background-image: none;
  margin: -74px auto 0 486px;
  padding: 11px 28px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  background-image: none;
  margin: -60px auto 14px 101px;
  padding: 11px 28px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1529px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 704px;
  }

  .u-section-1 .u-image-2 {
    width: 251px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 53px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -111px;
    margin-left: 286px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -18px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    width: 251px;
    margin-top: 44px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 706px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 286px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 66px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 486px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 363px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: 306px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 229px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 106px;
  }
}