.u-section-1 .u-sheet-1 {
  min-height: 564px;
}

.u-section-1 .u-image-1 {
  width: 158px;
  height: 158px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 17px auto 0;
}

.u-section-1 .u-form-1 {
  height: 156px;
  width: 570px;
  margin: 67px auto 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 142px;
}