.u-section-1 .u-sheet-1 {
  min-height: 464px;
}

.u-section-1 .u-text-1 {
  margin: 17px auto 0 0;
}

.u-section-1 .u-table-1 {
  margin: 11px auto 56px 0;
}

.u-block-f93e-46 {
  background-image: none;
}

.u-block-f93e-49 {
  border-style: double;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-5 {
  border-style: double;
}

.u-section-1 .u-table-cell-6 {
  border-style: double;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-8 {
  border-style: double;
}

.u-section-1 .u-table-cell-9 {
  border-style: double;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-11 {
  border-style: double;
}

.u-section-1 .u-table-cell-12 {
  border-style: double;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
  border-style: double;
}

.u-section-1 .u-table-cell-14 {
  border-style: double;
}

.u-section-1 .u-table-cell-15 {
  border-style: double;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}